<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.yourdriver.driver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_driver_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_driver_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="live.yourdriver.driver.Activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="live.yourdriver.driver.Activity.ChatActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="com.barankhan.driver.chat" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="live.yourdriver.driver.Services.PopupReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name="live.yourdriver.driver.Services.NotificationAlertReceiver">
            <intent-filter>
                <action android:name="com.barankhan.driver.notif_generated" />
            </intent-filter>
        </receiver>

        <activity
            android:name="live.yourdriver.driver.Activity.NotifActivity"
            android:theme="@style/AppDialogScreenTheme"

            />
        <activity android:name="live.yourdriver.driver.Activity.DriverTransactionActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="live.yourdriver.driver.Activity.RideAlertActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="com.barankhan.driver.ride_alert_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="live.yourdriver.driver.Services.LocationBackgroundService"
            android:launchMode="singleTop"
            android:enabled="true"

            />

        <activity
            android:name="live.yourdriver.driver.Activity.DriverActivity"
            android:label="@string/title_activity_driver"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name="live.yourdriver.driver.Activity.DriverConfirmationActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="com.barankhan.driver.driver_confirmation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="live.yourdriver.driver.Services.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="live.yourdriver.driver.Services.ChatHeadService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="live.yourdriver.driver.Activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="live.yourdriver.driver.Activity.Passenger"
            android:label="@string/title_activity_passenger"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMeNFGFvsheMOXo7gcJMMiLStrKyHGAFI" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="live.yourdriver.driver.Activity.MainActivity"
            android:screenOrientation="portrait"
            >

        </activity>




        <receiver android:name="live.yourdriver.driver.Services.DriverAlertReceiver" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.barankhan.driver.ride_alerts" />
            </intent-filter>
        </receiver>

        <activity android:name="live.yourdriver.driver.Activity.VoiceChatViewActivity" android:screenOrientation="portrait"/>

        <activity android:name="live.yourdriver.driver.Activity.SupportActivity" android:screenOrientation="portrait"></activity>




    </application>

</manifest>